@using System.Web.Script.Serialization
@{
    ViewBag.Title = "Index";
}


<script src="~/Scripts/knockout-2.0.0.js" type="text/javascript"></script>
<script src="~/Scripts/scripts.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-1.6.2.js" type="text/javascript"></script>

<script type="text/javascript">
    var countryList = @( new HtmlString(new JavaScriptSerializer().Serialize(Model)))
</script>

<h2>Index</h2>

<fieldset>   
    <legend>Country/State</legend>
    <br/>
    Country: <select id="countries" data-bind="options: countries, optionsText: 'name', optionsCaption: 'Choose country ...', value: choosenCountry"></select>
    State: <select id="states" data-bind="options: states, optionsText: 'name', optionsCaption: 'Choose state ...', value: choosenState"></select>
    
    <p data-bind="with: choosenCountry">
        You selected country <b data-bind="text: name"></b> (<span data-bind="text: code"></span>).
    </p>
    <p data-bind="with: choosenState">
        You selected state <b data-bind="text: name"></b> (<span data-bind="text: code"></span>).
    </p>    

    <button data-bind="click: sendSelection, enable: sendVisible">Select</button>
    
</fieldset>

